In [1]:
#import libararies 
import pandas as pd
import numpy as np
import os

In [2]:
#import dataset 
useri=pd.read_csv(r'C:\Users\Samth\CareerFoundry Projects\Achievement 6\1 Data\Raw Data\interests-of-users-by-age.csv')

# 1 Data Profiling

In [3]:
#viewing dataset shape
print(useri.shape)

(11, 16)

In [4]:
#profiling dataset 
print(useri.head())

   age  nbusers  percentwantchats  percentwantfriends  percentwantdates  \
0   18        1               0.0                 0.0               0.0
1   19      523              65.8                62.5              34.2
2   20      524              67.6                64.9              37.2
3   21      603              64.0                63.0              35.7
4   22      720              59.9                60.6              40.3

   meankissesreceived  meanvisitsreceived  meanfollowers  meanlanguagesknown  \
0                   0                 0.0            0.0                1.00
1                 179              4279.5            2.6                1.15
2                 208              4809.5            1.8                1.12
3                 167              4093.0            2.1                1.12
4                 134              3302.9            1.7                1.07

   totalwantchants  totalwantfriends  totalwantdates  totalkissesreceive  \
0                0                 0               0                   0
1              344               327             179               93985
2              354               340             195              109490
3              386               380             215              101063
4              431               436             290               96505

   totalvisitsreceived  totalfollowers  totallanguagesspoken
0                    0               0                     1
1              2238190            1374                   601
2              2520195             934                   586
3              2468100            1239                   678
4              2378122            1201                   771

In [9]:
print(useri.describe())

             age     nbusers  percentwantchats  percentwantfriends  \
count  11.000000   11.000000         11.000000           11.000000
mean   23.000000  361.181818         54.827273           45.636364
std     3.316625  277.915749         29.392485           29.337153
min    18.000000    1.000000          0.000000            0.000000
25%    20.500000   59.000000         59.800000           30.300000
50%    23.000000  523.000000         61.000000           62.400000
75%    25.500000  563.500000         65.400000           62.750000
max    28.000000  720.000000        100.000000           64.900000

       percentwantdates  meankissesreceived  meanvisitsreceived  \
count         11.000000           11.000000           11.000000
mean          28.909091          172.545455         3420.409091
std           18.909440          175.262868         2362.395013
min            0.000000            0.000000            0.000000
25%           17.100000          121.000000         2871.200000
50%           37.200000          146.000000         3302.900000
75%           40.000000          173.000000         4186.250000
max           47.000000          661.000000         8755.000000

       meanfollowers  meanlanguagesknown  totalwantchants  totalwantfriends  \
count      11.000000           11.000000        11.000000         11.000000
mean        1.854545            1.440000       226.000000        226.363636
std         1.334439            1.181694       173.129431        174.078300
min         0.000000            1.000000         0.000000          0.000000
25%         0.850000            1.070000        38.500000         36.500000
50%         2.100000            1.100000       326.000000        327.000000
75%         2.600000            1.120000       354.000000        360.000000
max         3.900000            5.000000       431.000000        436.000000

       totalwantdates  totalkissesreceive  totalvisitsreceived  \
count       11.000000           11.000000         1.100000e+01
mean       139.818182        56713.727273         1.340023e+06
std        106.320100        45557.931797         1.084302e+06
min          0.000000            0.000000         0.000000e+00
25%         27.500000         8889.500000         1.704930e+05
50%        179.000000        68183.000000         1.607127e+06
75%        213.500000        96075.500000         2.308156e+06
max        290.000000       109490.000000         2.520195e+06

       totalfollowers  totallanguagesspoken
count       11.000000             11.000000
mean       846.818182            400.636364
std        639.312258            306.779814
min          0.000000              1.000000
25%        227.500000             65.000000
50%        934.000000            586.000000
75%       1306.500000            624.500000
max       1811.000000            771.000000

# 2 Data Cleaning

In [19]:
#creating test dataframe 
useri_test=useri

In [22]:
#checking for mixed type variables
for col in useri_test.columns.tolist():
    weird=(useri_test[[col]].applymap(type)!=useri_test[[col]].iloc[0].apply(type)).any(axis=1)
if len(useri_test[weird])>0:
    print(col)

0 There are no mixed type variables in the dataset

In [7]:
#checking for missing values
print(useri.isnull().sum())

age                     0
nbusers                 0
percentwantchats        0
percentwantfriends      0
percentwantdates        0
meankissesreceived      0
meanvisitsreceived      0
meanfollowers           0
meanlanguagesknown      0
totalwantchants         0
totalwantfriends        0
totalwantdates          0
totalkissesreceive      0
totalvisitsreceived     0
totalfollowers          0
totallanguagesspoken    0
dtype: int64

In [8]:
#checking for duplicates
useri_dupe=[useri.duplicated()]

1 There seem to be no duplicate values in the dataset

In [9]:
#dropping duplicates just in case they somehow exist
print(useri.drop_duplicates())

    age  nbusers  percentwantchats  percentwantfriends  percentwantdates  \
0    18        1               0.0                 0.0               0.0
1    19      523              65.8                62.5              34.2
2    20      524              67.6                64.9              37.2
3    21      603              64.0                63.0              35.7
4    22      720              59.9                60.6              40.3
5    23      593              59.7                64.8              39.5
6    24      534              61.0                61.4              39.7
7    25      356              60.1                62.4              44.4
8    26      117              65.0                62.4              47.0
9    27        1             100.0                 0.0               0.0
10   28        1               0.0                 0.0               0.0

    meankissesreceived  meanvisitsreceived  meanfollowers  meanlanguagesknown  \
0                    0                 0.0            0.0                1.00
1                  179              4279.5            2.6                1.15
2                  208              4809.5            1.8                1.12
3                  167              4093.0            2.1                1.12
4                  134              3302.9            1.7                1.07
5                  161              3632.6            3.1                1.09
6                  127              3009.6            2.6                1.12
7                  115              2902.8            2.6                1.10
8                  146              2839.6            3.9                1.07
9                  661              8755.0            0.0                1.00
10                   0                 0.0            0.0                5.00

    totalwantchants  totalwantfriends  totalwantdates  totalkissesreceive  \
0                 0                 0               0                   0
1               344               327             179               93985
2               354               340             195              109490
3               386               380             215              101063
4               431               436             290               96505
5               354               384             234               95646
6               326               328             212               68183
7               214               222             158               41200
8                76                73              55               17118
9                 1                 0               0                 661
10                0                 0               0                   0

    totalvisitsreceived  totalfollowers  totallanguagesspoken
0                     0               0                     1
1               2238190            1374                   601
2               2520195             934                   586
3               2468100            1239                   678
4               2378122            1201                   771
5               2154138            1811                   648
6               1607127            1378                   599
7               1033400             923                   392
8                332231             455                   125
9                  8755               0                     1
10                    0               0                     5

2 We are able to confirm that there were no duplicates in the data set

In [10]:
#viewing dimensions of new dataframe after cleaning to see if any changes occured
useri.shape

(11, 16)

In [23]:
#saving current dataset
useri.to_csv(os.path.join(r'C:\Users\Samth\CareerFoundry Projects\Achievement 6\1 Data\Manipulated Data\user_interest.csv'))

# 3 Data Profiling Second Dataset

In [3]:
#importing next dataset to profile
userapi=pd.read_csv(r'C:\Users\Samth\CareerFoundry Projects\Achievement 6\1 Data\Raw Data\lovoo_v3_users_api-results.csv')

In [33]:
#viewing user shape
print(userapi.shape)

(3973, 42)

In [34]:
#viewing user desciptives
print(userapi.describe())

               age  counts_details  counts_pictures  counts_profileVisits  \
count  3973.000000     3973.000000      3973.000000           3973.000000
mean     21.995973        0.568369         4.789831           3710.107727
std       1.961868        0.325983         4.425150           6857.418509
min      18.000000        0.000000         0.000000              0.000000
25%      20.000000        0.310000         2.000000            384.000000
50%      22.000000        0.620000         4.000000           1237.000000
75%      24.000000        0.850000         6.000000           4061.000000
max      28.000000        1.000000        30.000000         164425.000000

       counts_kisses  counts_fans     counts_g     distance  isFlirtstar  \
count    3973.000000  3973.000000  3973.000000  3946.000000  3973.000000
mean      157.022653     2.344576     0.126101   207.230005     0.011830
std       378.487718    12.264101     1.241874   196.594017     0.108133
min         0.000000     0.000000     0.000000     0.000000     0.000000
25%        11.000000     0.000000     0.000000    83.875000     0.000000
50%        44.000000     0.000000     0.000000   172.000000     0.000000
75%       141.000000     0.000000     0.000000   317.000000     0.000000
max      9288.000000   241.000000    43.000000  6918.000000     1.000000

       isHighlighted  ...        isNew     isOnline        isVip   lang_count  \
count    3973.000000  ...  3973.000000  3973.000000  3973.000000  3973.000000
mean        0.011830  ...     0.239869     0.587717     0.022905     1.109237
std         0.108133  ...     0.427057     0.492308     0.149618     0.583119
min         0.000000  ...     0.000000     0.000000     0.000000     0.000000
25%         0.000000  ...     0.000000     0.000000     0.000000     1.000000
50%         0.000000  ...     0.000000     1.000000     0.000000     1.000000
75%         0.000000  ...     0.000000     1.000000     0.000000     1.000000
max         1.000000  ...     1.000000     1.000000     1.000000     9.000000

          verified  shareProfileEnabled  lastOnlineTime       birthd  crypt  \
count  3973.000000          3973.000000    3.972000e+03  3973.000000   27.0
mean      0.220992             0.961238    1.428920e+09     0.003775    1.0
std       0.414967             0.193051    8.233397e+05     0.061337    0.0
min       0.000000             0.000000    1.426592e+09     0.000000    1.0
25%       0.000000             1.000000    1.428332e+09     0.000000    1.0
50%       0.000000             1.000000    1.428399e+09     0.000000    1.0
75%       0.000000             1.000000    1.429992e+09     0.000000    1.0
max       1.000000             1.000000    1.430647e+09     1.000000    1.0

       isSystemProfile
count              2.0
mean               1.0
std                0.0
min                1.0
25%                1.0
50%                1.0
75%                1.0
max                1.0

[8 rows x 22 columns]

In [4]:
#viewing all columns
print(userapi.columns)

Index(['gender', 'genderLooking', 'age', 'name', 'counts_details',
       'counts_pictures', 'counts_profileVisits', 'counts_kisses',
       'counts_fans', 'counts_g', 'flirtInterests_chat',
       'flirtInterests_friends', 'flirtInterests_date', 'country', 'city',
       'location', 'distance', 'isFlirtstar', 'isHighlighted', 'isInfluencer',
       'isMobile', 'isNew', 'isOnline', 'isVip', 'lang_count', 'lang_fr',
       'lang_en', 'lang_de', 'lang_it', 'lang_es', 'lang_pt', 'verified',
       'shareProfileEnabled', 'lastOnlineDate', 'lastOnlineTime', 'birthd',
       'crypt', 'freetext', 'whazzup', 'pictureId', 'userId',
       'isSystemProfile'],
      dtype='object')

In [5]:
#deleting unnecessary columns 
userapi=userapi.drop(columns=['birthd','crypt','isSystemProfile','name','freetext','whazzup','pictureId'])

# 4 Data Cleaning for Second Dataset

In [6]:
#checking for missing values
userapi.isnull().sum()

gender                      0
genderLooking               0
age                         0
counts_details              0
counts_pictures             0
counts_profileVisits        0
counts_kisses               0
counts_fans                 0
counts_g                    0
flirtInterests_chat         0
flirtInterests_friends      0
flirtInterests_date         0
country                     0
city                      287
location                   13
distance                   27
isFlirtstar                 0
isHighlighted               0
isInfluencer                0
isMobile                    0
isNew                       0
isOnline                    0
isVip                       0
lang_count                  0
lang_fr                     0
lang_en                     0
lang_de                     0
lang_it                     0
lang_es                     0
lang_pt                     0
verified                    0
shareProfileEnabled         0
lastOnlineDate              1
lastOnlineTime              1
userId                     86
dtype: int64

1 Since missing values are related to location or time, these values can not be estimated. The rows with these values will be deleted

In [7]:
#deleting missing values in dataset
userapi.dropna(inplace=True)

In [8]:
#viewing dataset shape to verify changes occured
print(userapi.shape)

(3572, 35)

In [9]:
#checking for duplicates in dataset
userapi_dupe=[userapi.duplicated()]

In [10]:
#dropping any existing duplicates
print(userapi.drop_duplicates())

     gender genderLooking  age  counts_details  counts_pictures  \
0         F             M   25            1.00                4
1         F             M   22            0.85                5
2         F             M   21            0.00                4
3         F          none   20            0.12                3
4         F             M   21            0.15               12
...     ...           ...  ...             ...              ...
3937      F             M   20            0.90                2
3938      F             M   23            0.00                8
3941      F             M   25            0.00                1
3942      F             M   19            0.00                1
3944      F             M   23            0.20                4

      counts_profileVisits  counts_kisses  counts_fans  counts_g  \
0                     8279            239            0         3
1                      663             13            0         0
2                     1369             88            0         2
3                    22187           1015            2         3
4                    35262           1413            9        12
...                    ...            ...          ...       ...
3937                   105              2            0         0
3938                   195              6            0         0
3941                    31              0            0         0
3942                     3              0            0         0
3944                    54              0            0         0

      flirtInterests_chat  ...  lang_en  lang_de lang_it lang_es lang_pt  \
0                    True  ...    False     True   False   False   False
1                    True  ...    False     True    True   False   False
2                   False  ...    False    False   False   False   False
3                    True  ...     True    False   False   False   False
4                    True  ...    False     True   False   False   False
...                   ...  ...      ...      ...     ...     ...     ...
3937                False  ...    False    False   False    True   False
3938                False  ...    False     True   False   False   False
3941                False  ...    False    False   False   False   False
3942                 True  ...    False    False   False   False   False
3944                 True  ...    False    False   False   False   False

      verified  shareProfileEnabled        lastOnlineDate  lastOnlineTime  \
0            0                    1  2015-04-25T20:43:26Z    1.429995e+09
1            0                    1  2015-04-26T09:19:35Z    1.430040e+09
2            0                    1  2015-04-06T14:24:07Z    1.428330e+09
3            0                    1  2015-04-07T11:21:01Z    1.428406e+09
4            0                    1  2015-04-06T14:25:20Z    1.428330e+09
...        ...                  ...                   ...             ...
3937         0                    1  2015-05-03T07:30:09Z    1.430638e+09
3938         0                    1  2015-05-03T08:59:57Z    1.430644e+09
3941         0                    1  2015-05-03T08:57:34Z    1.430643e+09
3942         0                    1  2015-05-03T09:08:27Z    1.430644e+09
3944         0                    1  2015-05-03T06:51:33Z    1.430636e+09

                        userId
0     55303fc3160ba0eb728b4575
1     552e7b61c66da10d1e8b4c82
2     54a584ecc56da128638b4674
3     54c92738076ea1b5338b4735
4     54e1a6f6c76da135748b4a3a
...                        ...
3937  5544e4c3140ba0af1d8b47e1
3938  5544fa0d0a6ea130328b4af0
3941  55456631553fcb84024e8d7d
3942  5545664a553fcb84024e8e05
3944  5545998bc86da1f16a8b468e

[3572 rows x 35 columns]

In [11]:
#viewing is any changes occured to shape after dropping duplicates
print(userapi.shape)

(3572, 35)

2 No duplicates were found

In [12]:
#viewing final descriptive stats
print(userapi.describe())

               age  counts_details  counts_pictures  counts_profileVisits  \
count  3572.000000      3572.00000      3572.000000           3572.000000
mean     21.973684         0.58820         5.022676           3932.552072
std       1.967641         0.31678         4.482930           7079.850113
min      19.000000         0.00000         1.000000              0.000000
25%      20.000000         0.35000         2.000000            451.750000
50%      22.000000         0.65000         4.000000           1359.000000
75%      24.000000         0.85000         6.000000           4360.750000
max      28.000000         1.00000        30.000000         164425.000000

       counts_kisses  counts_fans     counts_g     distance  isFlirtstar  \
count    3572.000000  3572.000000  3572.000000  3572.000000  3572.000000
mean      166.722284     2.532475     0.135498   207.071473     0.012598
std       392.889140    12.860791     1.294758   200.542859     0.111547
min         0.000000     0.000000     0.000000     0.000000     0.000000
25%        14.000000     0.000000     0.000000    88.650000     0.000000
50%        49.000000     0.000000     0.000000   172.000000     0.000000
75%       152.000000     1.000000     0.000000   316.000000     0.000000
max      9288.000000   241.000000    43.000000  6918.000000     1.000000

       isHighlighted  isInfluencer     isMobile        isNew     isOnline  \
count    3572.000000        3572.0  3572.000000  3572.000000  3572.000000
mean        0.012598           0.0     0.750000     0.221165     0.583707
std         0.111547           0.0     0.433073     0.415089     0.493012
min         0.000000           0.0     0.000000     0.000000     0.000000
25%         0.000000           0.0     0.750000     0.000000     0.000000
50%         0.000000           0.0     1.000000     0.000000     1.000000
75%         0.000000           0.0     1.000000     0.000000     1.000000
max         1.000000           0.0     1.000000     1.000000     1.000000

             isVip   lang_count     verified  shareProfileEnabled  \
count  3572.000000  3572.000000  3572.000000          3572.000000
mean      0.024636     1.110302     0.236842             0.961086
std       0.155035     0.597892     0.425204             0.193417
min       0.000000     0.000000     0.000000             0.000000
25%       0.000000     1.000000     0.000000             1.000000
50%       0.000000     1.000000     0.000000             1.000000
75%       0.000000     1.000000     0.000000             1.000000
max       1.000000     9.000000     1.000000             1.000000

       lastOnlineTime
count    3.572000e+03
mean     1.428921e+09
std      8.168428e+05
min      1.426815e+09
25%      1.428332e+09
50%      1.428403e+09
75%      1.429992e+09
max      1.430647e+09

In [13]:
#exporting final set
userapi.to_csv(os.path.join(r'C:\Users\Samth\CareerFoundry Projects\Achievement 6\1 Data\Manipulated Data\userapi_clean.csv'))

# 5 Data Profile for Third Dataset

In [14]:
#importing third dataset
userinstances=pd.read_csv(r"C:\Users\Samth\CareerFoundry Projects\Achievement 6\1 Data\Raw Data\lovoo_v3_users_instances.csv")

In [15]:
#viewing original dataset shape
print(userinstances.shape)

(2919, 39)

In [16]:
#viewing original descriptive stats
print(userinstances.describe())

               age  counts_pictures  counts_profileVisits  counts_kisses  \
count  2919.000000      2919.000000           2919.000000    2919.000000
mean     22.196643         4.965057           3923.583076     166.207263
std       2.041308         4.589094           7203.342904     393.546556
min      18.000000         0.000000              0.000000       0.000000
25%      20.000000         2.000000            414.500000      13.000000
50%      22.000000         4.000000           1341.000000      48.000000
75%      24.000000         6.000000           4469.000000     156.000000
max      28.000000        30.000000         164425.000000    9288.000000

       lastOnlineTs   lang_count  countDetails     distance
count  2.918000e+03  2919.000000   2919.000000  2919.000000
mean   1.429153e+09     1.120589      0.572004   176.534909
std    8.502311e+05     0.614412      0.330713   209.282646
min    1.426592e+09     0.000000      0.000000     0.000000
25%    1.428337e+09     1.000000      0.310000    66.750000
50%    1.428507e+09     1.000000      0.650000   150.000000
75%    1.430046e+09     1.000000      0.850000   229.000000
max    1.430647e+09     9.000000      1.000000  6918.000000

In [17]:
#viewing all columns to identify any unneeded columns
print(userinstances.columns)

Index(['gender', 'age', 'name', 'counts_pictures', 'counts_profileVisits',
       'counts_kisses', 'flirtInterests_chat', 'flirtInterests_friends',
       'flirtInterests_date', 'connectedToFacebook', 'isVIP', 'isVerified',
       'lastOnline', 'lastOnlineTs', 'lang_count', 'lang_fr', 'lang_en',
       'lang_de', 'lang_it', 'lang_es', 'lang_pt', 'city', 'locationCity',
       'locationCitySub', 'userInfo_visitDate', 'countDetails', 'crypt',
       'flirtstar', 'freshman', 'hasBirthday', 'highlighted', 'distance',
       'locked', 'mobile', 'online', 'whazzup', 'pictureId', 'userId',
       'isSystemProfile'],
      dtype='object')

In [18]:
#deleting unneeded columns
userinstances=userinstances.drop(columns=['name','countDetails','crypt','whazzup','pictureId','isSystemProfile'])

# 6 Data Cleaning for Third Dataset

In [19]:
#finding missing data
print(userinstances.isnull().sum())

gender                       0
age                          0
counts_pictures              0
counts_profileVisits         0
counts_kisses                0
flirtInterests_chat          0
flirtInterests_friends       0
flirtInterests_date          0
connectedToFacebook          0
isVIP                        0
isVerified                   0
lastOnline                   1
lastOnlineTs                 1
lang_count                   0
lang_fr                      0
lang_en                      0
lang_de                      0
lang_it                      0
lang_es                      0
lang_pt                      0
city                       210
locationCity                10
locationCitySub           2851
userInfo_visitDate        2907
flirtstar                    0
freshman                     0
hasBirthday                  0
highlighted                  0
distance                     0
locked                       0
mobile                       0
online                       0
userId                      62
dtype: int64

1 The missing data found is related to time variable or location variable data which can not be replaced, however two of the variables "location City Sub" and userInfo_visitDate is missing for nearly the entire dataset, rather than delete these missing rows, we will delete the columns while still maintain location data in "location city" and "city"

In [20]:
#deleting columns of extra location data
userinstances=userinstances.drop(columns=['locationCitySub','userInfo_visitDate'])

In [21]:
#removing missing data in the rest of the dataset
userinstances.dropna(inplace=True)

In [22]:
#checking shape after removing missing data and columns
print(userinstances.shape)

(2643, 31)

In [23]:
#checking for duplicates
userinstances_dupe=userinstances.duplicated()

In [24]:
#removing any duplicate values
print(userinstances.drop_duplicates())

     gender  age  counts_pictures  counts_profileVisits  counts_kisses  \
0         F   25                4                  8279            239
1         F   22                5                   663             13
2         F   20                3                 22187           1015
3         F   24               18                  7339            180
4         F   24               13                 18672            492
...     ...  ...              ...                   ...            ...
2914      F   20                8                  1101             46
2915      F   23                8                  8681            141
2916      F   23                8                  8682            141
2917      F   23                8                  8702            142
2918      F   23                9                  8904            143

      flirtInterests_chat  flirtInterests_friends  flirtInterests_date  \
0                    True                    True                 True
1                    True                    True                 True
2                    True                    True                False
3                    True                   False                 True
4                   False                    True                False
...                   ...                     ...                  ...
2914                 True                    True                 True
2915                 True                    True                 True
2916                 True                    True                 True
2917                 True                    True                 True
2918                 True                    True                 True

      connectedToFacebook  isVIP  ...      locationCity flirtstar  freshman  \
0                   False  False  ...           Rümlang     False     False
1                   False  False  ...           Sissach     False     False
2                   False  False  ...             Berne     False     False
3                   False  False  ...  Titisee-Neustadt     False     False
4                   False  False  ...         Stuttgart     False     False
...                   ...    ...  ...               ...       ...       ...
2914                False  False  ...             Bière     False     False
2915                False  False  ...          Heimberg     False     False
2916                False  False  ...          Heimberg     False     False
2917                False  False  ...          Heimberg     False     False
2918                False  False  ...          Heimberg     False     False

      hasBirthday  highlighted    distance  locked  mobile  online  \
0           False        False  175.000000   False    True   False
1           False        False  138.000000   False    True   False
2           False        False   77.300003   False   False   False
3           False        False  194.000000   False    True    True
4           False        False  318.000000   False    True    True
...           ...          ...         ...     ...     ...     ...
2914        False        False    0.000000   False   False   False
2915        False        False    0.000000    True    True    True
2916        False        False    0.000000    True    True   False
2917        False        False    0.000000   False    True    True
2918        False        False    0.000000   False    True   False

                                userId
0             55303fc3160ba0eb728b4575
1             552e7b61c66da10d1e8b4c82
2             54c92738076ea1b5338b4735
3             54f2b4ce0b6ea1177e8b4d18
4             54ecbb39170ba08b488b4aa5
...                                ...
2914  d5a7edbcb59fcb092871bdcde7f142ca
2915  e532a6060fe4e5902c66086d905a9d53
2916  e532a6060fe4e5902c66086d905a9d53
2917  e532a6060fe4e5902c66086d905a9d53
2918  dc186f3855343c9f096c484f6d363aac

[2643 rows x 31 columns]

In [25]:
#checking shape after deleting duplicates to confirm any changes
print(userinstances.shape)

(2643, 31)

2 The shape has not changed since removing the missing values so, there are no duplicate values to be removed in the dataset

In [26]:
#viewing final descriptive stats
print(userinstances.describe())

               age  counts_pictures  counts_profileVisits  counts_kisses  \
count  2643.000000      2643.000000            2643.00000    2643.000000
mean     22.183125         5.230798            4148.66818     176.633750
std       2.047447         4.660918            7401.32985     406.814966
min      19.000000         1.000000               0.00000       0.000000
25%      20.000000         2.000000             499.50000      16.000000
50%      22.000000         4.000000            1527.00000      56.000000
75%      24.000000         6.000000            4825.00000     171.000000
max      28.000000        30.000000          164425.00000    9288.000000

       lastOnlineTs   lang_count     distance
count  2.643000e+03  2643.000000  2643.000000
mean   1.429153e+09     1.120696   176.468294
std    8.425669e+05     0.627558   214.191793
min    1.426815e+09     0.000000     0.000000
25%    1.428337e+09     1.000000    73.650002
50%    1.428507e+09     1.000000   150.000000
75%    1.430045e+09     1.000000   218.000000
max    1.430647e+09     9.000000  6918.000000

In [27]:
#exporting final clean set
userinstances.to_csv(os.path.join(r'C:\Users\Samth\CareerFoundry Projects\Achievement 6\1 Data\Manipulated Data\userinstances_clean.csv'))